---

local:
  path: {{ .LocalPath }}
  url: {{ .LocalURL }}
  db:
    name: wpclone
    user: wpclone
    password: wpclone
    host: 127.0.0.1

remote:
  path: /var/www/html
  url: http://localhost:8080
  ssh:
    host: localhost
    user: www-data
    key: {{ .SSHKeyPath }}
    port: 2222
